!!!
%html
  %head
    %title ALOSports
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to "Home", root_path, class: "navbar-brand"
        .nav.navbar-nav.navbar-right
          = link_to "New Player", new_player_path, class: "nav navbar-link"

    .container
      %p.notice= notice
      %p.alert= alert
      = yield
